

<div class="container-fluid">
  <div class="row">
    <div  style="width: 100%;height: 14vh;    padding-top: 10px;">

      <!-- <button type="button" class="btn btn-primary" style="float: left;">Add Commodities</button> -->
      <button type="button" class="btn btn-primary" style="float: right;" (click)='toggleCard()'><i class="fa fa-plus"></i></button>

  </div>
  </div>

  <div class='row' *ngIf='isAuth'>
    <div class="col-sm-12 col-md-6">
      <div class="card">
        <div class="card-header">
         Add Contracts
        </div>
        <div class="card-body">
          <form [formGroup]='commodities_Form' class="form-inline d-flex justify-content-between">

          <input class='form-control' style="width:48%"  placeholder="Abbreviation" formControlName='comm_abb'>

          <input class='form-control' style="width:48%" placeholder="Title" formControlName='comm_name'
          [ngClass]="{ 'is-invalid': submitted && f.comm_name.errors }">

          <!-- <div>
            <i class="fa fa-file-image-o fa-2x " style='padding: 3px 3px 3px 15px' aria-hidden="true" (click)='iconpicker.click()'></i>
            <input type='file' (change)='fileCaptuer($event)' hidden #iconpicker>
           <span [class.Error]='errorColor' >{{SelectedFileName}}</span>

           </div> -->
          </form>
        </div>
        <div class="card-footer">
          <div class='row'  style='float:right'>
          <div>
            <button  type="button" class="btn btn-sm btn-success" (click)='add_commodity()'>Submit</button>
          </div>


            <div>
              <button type="button" class="btn btn-sm btn-danger" (click)='toggleCard()'>Cancel</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

<div class='row'>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Contracts
        <input   class="form-control searchfield" placeholder="Search" type="text" [(ngModel)]="term">
      </div>
      <div class="card-body  " style="overflow-y: scroll;">

        <table class="table table-bordered table-striped ">
          <thead class="text-center">

            <tr>
              <th class="Th_1" >Sr#</th>
              <th class="Th_2" >Title</th>
              <th class="Th_3" >Advice</th>
              <th class="Th_4" >Action</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor='let a of List_of_All_commodities | filter:term; let i=index ;'>
              <td class="text-center">{{i+1}}</td>
              <td class="text-center">
                <h6 style="color:#be5824">{{a.comm_abbreviation}}</h6>
                  <h6 style='padding:5px'>{{a.comm_title}}</h6>
              </td>
              <td>
                <!-- <div   *ngIf='a.recent_adv'>

                <div style="padding: 7px; width: 50%; float: left;">
                  <img  src='{{Images_base_Url+a.recent_adv.adv_attachment}}' class="AdivceImg"/>
                </div>


               <div style="padding: 7px; width: 50%; float: right ;">
                <div style="width: 100%;">
                  <div style="width: 50%;float: left;">
                    <h6><span style="font-weight: bold;">Buy If:</span> {{a.recent_adv.by_if}}</h6>
                  </div>
                  <div style="width: 50%;float: right;">
                    <h6><span style="font-weight: bold;">Sell If:</span> {{a.recent_adv.sell_if}}</h6>
                  </div>
                </div>

                <div style="width: 100%;">
                  <div style="width: 50%;float: left;">
                    <h6><span style="font-weight: bold;">Stop By Loss If:</span>  {{a.recent_adv.stop_buy_loss_if}}</h6>
                  </div>
                  <div style="width: 50%;float: right;">
                  <h6><span style="font-weight: bold;">Stop Sell Loss If:</span> {{a.recent_adv.stop_sell_loss_if}}</h6>
                  </div>
                </div>
                 <div style="width: 100%;">
                   <div style="width: 50%;float: left;">
                     <h6><span style="font-weight: bold;">Take Buy Profit If:</span>  {{a.recent_adv.take_buy_profit_if}}</h6>
                   </div>
                   <div style="width: 50%;float: right;">
                     <h6><span style="font-weight: bold;">Take Sell Profit If:</span> {{a.recent_adv.take_sell_profit_if}}</h6>
                   </div>

                 </div>
                <div >
                  <div style="width: 100%;">
                    <h6><span style="font-weight: bold;">Instructions:</span> </h6>
                  </div>
                  <div style="width: 100%;">
                    <h6>{{a.recent_adv.adv_comments}} </h6>
                  </div>


                </div>
               </div>




                </div> -->

                <div *ngIf="a.recent_adv">
                     <div class="row">
                         <div class="col-md-5">
                          <img  src='{{Images_base_Url+a.recent_adv.adv_attachment}}' class="AdivceImg"/>
                         </div>
                         <div class="col-md-7">
                             <div class="row">
                                  <div class="col-md-6">
                                    <h6><span style="font-weight: bold;">Buy If:</span> {{a.recent_adv.by_if}}</h6>
                                  </div>
                                  <div class="col-md-6">
                                    <h6><span style="font-weight: bold;">Sell If:</span> {{a.recent_adv.sell_if}}</h6>
                                  </div>
                             </div>
                             <div class="row">
                              <div class="col-md-6">
                                <h6><span style="font-weight: bold;">Stop Buy Loss If:</span>  {{a.recent_adv.stop_buy_loss_if}}</h6>
                              </div>
                              <div class="col-md-6">
                                <h6><span style="font-weight: bold;">Stop Sell Loss If:</span> {{a.recent_adv.stop_sell_loss_if}}</h6>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <h6><span style="font-weight: bold;">Take Buy Profit If:</span>  {{a.recent_adv.take_buy_profit_if}}</h6>
                            </div>
                            <div class="col-md-6">
                              <h6><span style="font-weight: bold;">Take Sell Profit If:</span>  {{a.recent_adv.take_sell_profit_if}}</h6>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <h6><span style="font-weight: bold;">Instructions: </span>{{a.recent_adv.adv_comments}} </h6>
                          </div>
                      </div>
                         </div>
                     </div>
                </div>
              </td>
              <td style='cursor: pointer;' >
                <div class="row" style="text-align: center;">

                  <div class="col-md-12">
                    <button class="btn btn-outline-info btn-sm" (click)='openModal(a)'>Add Advice</button>
                  </div>
                </div>
                <div class="row mt-3" style="text-align: center;">
                  <div class="col-md-12">
                    <button class="btn btn-outline-info btn-sm" (click)='openModalHistory(a.adv_history)'>View History</button>
                  </div>
                </div>

                <div class="col-md-12 btn-group mt-2" dropdown>
                  <button style="text-align: center;" dropdownToggle type="button" class="btn btn-outline-info  btn-sm">
                    {{a.status}} <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item"  *ngIf='a.status=="Enabled"'
                      (click)='Changing_status_of_commodity(a.status,a)'>Disabled</a></li>
                    <li role="menuitem"><a class="dropdown-item"  *ngIf='a.status=="Disabled"'
                      (click)='Changing_status_of_commodity(a.status,a)' >Enabled </a></li>

                  </ul>
                </div>


                <!-- <span class="badge badge-success" ></span>
                <span class="badge badge-success" (click)='openModalHistory()' >View History</span> -->
              </td>
            </tr>


          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>
</div>


<modal #myModal>
  <modal-header>
      Add Advice
  </modal-header>

  <modal-content>
    <form [formGroup]='Advoice_form'>
<div class='row'>
  <div class='col-md-6'>
    <label>
      Buy if:
      <input class='form-control' formControlName='buy_if'
      [ngClass]="{ 'is-invalid': submitted && g.buy_if.errors }">
      <div *ngIf="submitted && g.buy_if.errors" class="invalid-feedback">
        <div *ngIf="g.buy_if.errors.required">Buy if is required</div>
    </div>
    </label>
  </div>
  <div class='col-md-6'>
    <label>
      Sell if:
      <input class='form-control' formControlName='Sell_if'
      [ngClass]="{ 'is-invalid': submitted && g.Sell_if.errors }">
      <div *ngIf="submitted && g.Sell_if.errors" class="invalid-feedback">
        <div *ngIf="g.Sell_if.errors.required">Sell if is required</div>
    </div>
    </label>
  </div>


</div>
<div class='row'>


  <div class='col-md-6'>
    <label>
      Stop Buy Loss If:
      <input class='form-control' formControlName='stop_buy_loss_if'
      [ngClass]="{ 'is-invalid': submitted && g.stop_buy_loss_if.errors }">
      <div *ngIf="submitted && g.stop_buy_loss_if.errors" class="invalid-feedback">
        <div *ngIf="g.stop_buy_loss_if.errors.required">Input required</div>
    </div>
    </label>
  </div>

  <div class='col-md-6'>
    <label>
      Stop Sell Loss If:
      <input class='form-control' formControlName='stop_sell_loss_if'
             [ngClass]="{ 'is-invalid': submitted && g.stop_sell_loss_if.errors }">
      <div *ngIf="submitted && g.stop_sell_loss_if.errors" class="invalid-feedback">
        <div *ngIf="g.stop_sell_loss_if.errors.required">Input required</div>
      </div>
    </label>
  </div>

  <div class='col-md-6'>
    <label>
      Take Buy Profit If:
      <input class='form-control' formControlName='take_buy_profit_if'
      [ngClass]="{ 'is-invalid': submitted && g.take_buy_profit_if.errors }" >
      <div *ngIf="submitted && g.take_buy_profit_if.errors" class="invalid-feedback">
        <div *ngIf="g.take_buy_profit_if.errors.required">input required</div>
    </div>
    </label>
  </div>
  <div class='col-md-6'>
    <label>
      Take Sell Profit If:
      <input class='form-control' formControlName='take_sell_profit_if'
             [ngClass]="{ 'is-invalid': submitted && g.take_sell_profit_if.errors }" >
      <div *ngIf="submitted && g.take_sell_profit_if.errors" class="invalid-feedback">
        <div *ngIf="g.take_sell_profit_if.errors.required">Input required</div>
      </div>
    </label>
  </div>
</div>
<div class='row'>
  <div class='col-md-8'>
    <label>Instructions:</label>
    <textarea class='form-control' formControlName='advoice_comm'
    [ngClass]="{'is-invalid': submitted && g.advoice_comm.errors }"
    ></textarea>
    <div *ngIf="submitted && g.advoice_comm.errors" class="invalid-feedback">
      <div *ngIf="g.advoice_comm.errors.required">Advice is required</div>
  </div>
  </div>

</div>
<div class="row">
  <div class='col-md-4'>
    <label>Attachment:
    </label>
    <input type='file' #filepicker (change)='fileCaptuer_2($event)' accept="image/x-png,image/gif,image/jpeg,"  hidden>
    <i style='padding: 13px 2px 2px 2px; cursor: pointer;'
     class="fa fa-paperclip fa-2x" aria-hidden="true" (click)='filepicker.click()'></i>
   <span [class.Error]='AdviceImgError'>{{Advice_image_name}}</span>
  </div>
</div>
</form>
  </modal-content>

  <modal-footer>
    <button class='btn btn-success btn-sm' (click)='add_advice()' >Submit</button>
     <button class='btn btn-danger btn-sm' (click)='closeModal()'>Cancel</button>

  </modal-footer>
</modal>


<modal #history>
<modal-header>
  History
</modal-header>
<modal-content>
  <div class="card-body">

    <h3 *ngIf="noRecord">No Record Found</h3>
    <div class="table-responsive" *ngIf="recordFound">
      <input  class="form-control mb-2 searchfield" placeholder="Search" type="text" [(ngModel)]="his">
    <table class="table table-bordered table-striped table-sm " id="myTable">
      <thead>

        <tr>
          <!-- <th>Sr#</th> -->
          <th>Buy If</th>
          <th>Sell If</th>
          <th>Stop Buy Loss If</th>
          <th>Stop Sell Loss If</th>
          <th>Take Buy Profit If</th>
          <th>Take Sell Profit If</th>
          <th>Instructions</th>
          <th>Attachment</th>
          <th>Created At</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody *ngIf="AdviceHistoryhide" >
        <tr *ngFor='let a of AdviceHistory | filter:his| paginate: { itemsPerPage: 5, currentPage: x };
          let i=index;' [attr.id]="a.adv_id">
         <!-- <td>{{i+1}}</td> -->
         <td>{{a.by_if}}</td>
         <td>{{a.sell_if}}</td>
         <td>{{a.stop_buy_loss_if}}</td>
         <td>{{a.stop_sell_loss_if}}</td>
         <td>{{a.take_buy_profit_if}}</td>
         <td>{{a.take_sell_profit_if}}</td>
         <td>{{a.adv_comments}}</td>
         <td><img style="height: 100px;
          width: 120px;" src={{Images_base_Url+a.adv_attachment}}></td>
          <td>{{a.date_time_created | date :'medium'}}</td>
          <td><span style="padding: 10px;" id="remove" (click)="openModalConfirm(a)"><i class="fa fa-trash"></i></span></td>
        </tr>
      </tbody>
      <tbody *ngIf="AdviceHistoryshow" >
        <tr *ngFor='let a of AdviceHistoryDel | filter:his| paginate: { itemsPerPage: 5, currentPage: x };
          let i=index;' [attr.id]="a.adv_id">
         <!-- <td>{{i+1}}</td> -->
          <td>{{a.by_if}}</td>
          <td>{{a.sell_if}}</td>
          <td>{{a.stop_buy_loss_if}}</td>
          <td>{{a.stop_sell_loss_if}}</td>
          <td>{{a.take_buy_profit_if}}</td>
          <td>{{a.take_sell_profit_if}}</td>
          <td>{{a.adv_comments}}</td>
          <td><img style="height: 100px;
          width: 120px;" src={{Images_base_Url+a.adv_attachment}} ></td>
          <td>{{a.date_time_created | date :'medium'}}</td>
          <!-- <td><span style="padding: 10px;" id="remove" (click)="openModalConfirm(a)"><i class="fa fa-trash"></i></span></td> -->
          <td><span style="padding: 10px;" id="remove" (click)="openModalConfirm(a)"><i class="fa fa-trash"></i></span></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="x = $event"></pagination-controls>
  </div>


  </div>

</modal-content>
<modal-footer>
  <button class='btn btn-danger btn-sm' (click)='closeModalHistory()'>Close</button>
</modal-footer>
</modal>




<modal #confirm>
  <modal-header>
   Confirm
  </modal-header>
  <modal-content>
        Are you sure?

  </modal-content>
  <modal-footer>
    <button type="button" class="btn btn-success" (click)="deleteHistory()">Confirm</button>
    <button type="button" class="btn btn-danger" (click)="cancelConfirm()">Cancel</button>
  </modal-footer>
  </modal>
<notifier-container></notifier-container>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate-pulse"
>
</ngx-spinner>

